USE [master]
GO
/****** Object:  Database [DACS2]    Script Date: 6/11/2024 1:28:03 PM ******/
CREATE DATABASE [DACS2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DACS2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DACS2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DACS2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DACS2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DACS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DACS2]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [char](20) NOT NULL,
	[MAHANG] [char](20) NOT NULL,
	[SL] [int] NULL,
	[GIAMGIA] [float] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [pk_cthd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [char](20) NOT NULL,
	[NGHD] [smalldatetime] NULL,
	[MAKH] [char](20) NULL,
	[MANV] [char](20) NULL,
	[TRIGIA] [money] NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](20) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[GIOITINHKH] [nvarchar](4) NULL,
	[DCHI] [nvarchar](50) NULL,
	[SODT] [varchar](20) NULL,
	[NGMUA] [smalldatetime] NULL,
	[LOAIKH] [nvarchar](40) NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MALOAI] [char](20) NOT NULL,
	[TENLOAI] [varchar](40) NULL,
 CONSTRAINT [pk_ml] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MAHANG] [char](20) NOT NULL,
	[MALOAI] [char](20) NULL,
	[MANCC] [char](20) NULL,
	[TENSP] [varchar](40) NULL,
	[NUOCSX] [varchar](40) NULL,
	[GIA] [money] NULL,
	[ANH] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](200) NULL,
	[SL] [int] NULL,
 CONSTRAINT [pk_mh] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [char](20) NOT NULL,
	[TENNCC] [varchar](14) NULL,
	[TENGIAODICH] [varchar](40) NULL,
	[DIACHI] [varchar](50) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [pk_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](20) NOT NULL,
	[HOTEN] [nvarchar](40) NULL,
	[GIOITINHNV] [nvarchar](4) NULL,
	[SODT] [varchar](20) NULL,
	[NGVL] [smalldatetime] NULL,
	[LOAINV] [nvarchar](40) NULL,
	[LUONG] [money] NULL,
 CONSTRAINT [pk_nv] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 6/11/2024 1:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[MAPBH] [char](20) NOT NULL,
	[MAHANG] [char](20) NULL,
	[THOIGIANBH] [nvarchar](10) NULL,
	[SOHD] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk01_CTHD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk01_CTHD]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [fk02_CTHD] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [fk02_CTHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk01_HD] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk01_HD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [fk02_HD] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [fk02_HD]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MH_LH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MH_LH]
GO
ALTER TABLE [dbo].[MATHANG]  WITH CHECK ADD  CONSTRAINT [FK_MH_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[MATHANG] CHECK CONSTRAINT [FK_MH_NCC]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [fk01_PBH] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [fk01_PBH]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [fk02_PBH] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[MATHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [fk02_PBH]
GO
USE [master]
GO
